
@{
    ViewBag.Title = "Extra";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href="http://localhost:54569/Extra/Fun">Funkey</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
    <div>@ViewBag.Gr</div>
    <div>@ViewBag.td</div>
    <div>@ViewBag.cnter</div>
</body>
</html>
