
@{
    ViewBag.Title = "Extra";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Test</title>
</head>
<body>
    <ul class="nav">
        <li class="nav-item">
            <a class="nav-link active" href=@Html.ActionLink("Funkey", "Fun", "Extra")</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item">
            <a class="nav-link disabled" href="#">Disabled</a>
        </li>
    </ul>
</body>
</html>
