
@{
    ViewBag.Title = "Employee";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <div class="list-group">
        <a href="#" class="list-group-item list-group-item-action active">
            Cras justo odio
        </a>
        <a href="#" class="list-group-item list-group-item-action">Lista item</a>
        <a href="#" class="list-group-item list-group-item-action">Lista item 2</a>
        <a href="#" class="list-group-item list-group-item-action">lista item 3</a>
        <a href="#" class="list-group-item list-group-item-action disabled">And so on and so on</a>
    </div>
</body>
</html>
