
@{
    ViewBag.title = "New";
    var price = 25;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RDR2</title>
</head>
<body>
    <div>
        @if (price>30)
        {
            <p>The price is too high</p>

        }
        else if(price>20 && price<30)
        {
            <p>The price is ok</p>

        }
        else
        {
            <p>Price is low</p>
        }

        @{ 
            var First = "This is ";
            var Second = "the wonderfull attempt to ";
            var Third = "create a string, if thats what they are called.";
            var Mix = First + Second + Third;
            var Ma = 2;
            var Th = 2;
            var Math = Ma + Th;
            var Quick = 1;
            var QuickMath = Math - Quick;
        }
        <h1>People, @Mix</h1>
        <p>Two plus two is four, minus one that's three, quickmaths!</p>
        <p1>@Ma+@Th=@Math</p1>
        <br />
        <p1>@Math-@Quick= @QuickMath</p1>
    </div>
</body>
</html>
