
@{
    ViewBag.title = "New";
    var price = 25;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>RDR2</title>
</head>
<body>
    <div>
        @if (price>30)
        {
            <p>The price is too high</p>

        }
        else if(price>20 && price<30)
        {
            <p>The price is ok</p>

        }
        else
        {
            <p>Price is low</p>
        }

        @{ 
            var First = "This is ";
            var Second = "the wonderfull attempt to ";
            var Third = "create a string, if thats what they are called.";
            var Mix = First + Second + Third;

        }
        <h1>People, @Mix</h1>

    </div>
</body>
</html>
