@{
    ViewBag.Title = "Home Page";
}

<br />
<div class="alert alert-info" role="alert">
    <button type="button" class="close" data-dismiss="alert">close</button>
    Welcome visitor!
</div>

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more libraries</h2>
        <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>

<div class="row">
    <div class="col-md-3">
        <h2>Ovidiu's column!</h2>
        <p>
            Very extra specific data about the column, this right here is valuable info about the column that is absolutly vital to your success
            in life. I strongly recomend that you, the reader, proceed with caution from now on because this material will help you on your future
            endevours. With that being said, let's get started!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>The springtime of youth!</h2>
        <p>
            The springtime of youth shant be taken for granted.
            Those are the golden years, enjoy them!
            As masters Maito Guy and Rock Lee preech, try exceeding your own expectations every day, and make every day count!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>This is the last!</h2>
        <p>
            Well, I guess this is goodbye.
            I'm truly sorry it had to end this way, but you left me no choice. All good things must eventually come to an end.
            Otherwise we end up like the 'beloved' show, "The young and the restless", and we certanly don't want that.
            With that being said, farewell amigos!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-3">
        <h2>J.K. This is the last!</h2>
        <p>
            Well, I guess this is the real goodbye.
            I'm truly sorry it had to end this way, but you left me no choice. All good things must eventually come to an end.
            Otherwise we end up like the 'beloved' show, "The young and the restless", and we certanly don't want that.
            With that being said, farewell amigos!
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>
<div class="cold-md-12">
    <blockquote>
        <p>I am very proud of myself for the progress this week in C#</p>
        <footer>Orasanu Ovidiu</footer>
    </blockquote>
</div>

